/* .shop-page {
    margin-top: 8rem;
} */
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    margin-top: 8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 15px;
 }
 .product-form h2 {
    text-align: center;
 }
 
 .product-item {
     width: 20rem;
     max-width: 95%;
     margin: 1rem;
 }

 .product__title {
     font-size: 1.3rem;
     text-align: center;
 }
 .product__price {
     text-align: center;
     color: #0a0a0a;
     margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: 500;
 }
 .product__description {
  text-align: center;
  height: 50px;
  padding: 10px;
  text-align: start;
 }
 .card__image {
    height: 200px;
    width: 250px;
    margin: 0 auto;
  }
  /* Any image tag with in that class should respect .image values */
  .card img {
    height: 100%;
  }
  .no-products{
    text-align: center;
    margin-top: 8rem;
  }
  .cart {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
    text-decoration: underline;
  }
  .cart-header {
    display:flex;
    justify-content: center;
    flex-direction: row;
   text-align: center;
   margin: 0 25% ;
    padding: 10px;
    width: 75%;
  }
  .checkout-header {
    display:flex;  
    justify-content: center;
    flex-direction: row;
   width: 75%;
    padding: 10px;
    margin: 10px auto;
  }
    .cart-header {
      width: 100%;
        display: flex;  
        flex-direction: row; 
        justify-content: space-evenly; 
        margin: 0 auto;
        padding: 10px auto;
    }
    .header-field {        
       font-weight: bold;
       width: 25%;
     }
    .product__cart{
        display:flex;  
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
       margin: 2rem auto;  
     }
  
    .cart-image {
        height:100px;
        width:100px
    }
  .cart-btn {
 margin: 10px auto;
  }
  .order-header {
    width: 100%;
    display: flex;  
    flex-direction: row; 
    justify-content: space-evenly; 
    margin: 0 auto;
    padding: 10px auto;
  }
  .order-border {
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  .order-header-field { 
     font-weight: bold;   
     width: 25%;
    margin-bottom: 20px;
  }
  .orders-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
  width: 95%;
  align-items: center;
  }
  .order-list-item {
    margin: 2rem 5rem;  
    padding: 0 10px;  
    margin: 5px auto;
  } 
  